*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.comtainer{
    width: 400px;
    margin: 10px auto;
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
table{
    width: 100%;

}
table td{
    padding: 5px;
}
.not{
    padding: 7pxx 10px;
    color: aquamarine;
    background-color: aquamarine;
}
.yes{
    padding: 5px;
    width: 270px;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: right;
}

